<div class="col-4 mb-3 newPlayer">
  <div class="input-group">
    <span for="playerName_{{@position}}" class="bg-primary-subtle border border-primary-subtle input-group-text">Player Name</span>
    <input type="text" class="form-control" id="player{{@position}}" name="playerName_{{@position}}" required value="Michael"/>
    <button class="deletePlayer btn bg-danger-subtle border border-danger-subtle" type="button" id="player{{@position}}_delete"><i class="bi bi-recycle" style="color: red;"></i></button>
  </div>
</div>