<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="display-1">Time for Jeopardy</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="/games/show">
        <button class="getGame btn bg-success-subtle border-success col">See the Games <i class="bi bi-play"></i></button></a>
      </div>
    </div>
  </div>
</div>
